<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Barcode Gen App">
    <meta name="author" content="RK">
    <meta name="keywords" content="Barcode Gen App">

    <!-- Title Page-->
    <title>BarGen App</title>
    <link runat="server" rel="shortcut icon" href="~/Resources/images/qr-code.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Resources/images/qr-code.ico" type="image/ico" />
    <!-- Icons font CSS-->
    <link href="~/Resources/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Resources/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Resources/vendor/select2/select2.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Resources/css/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/print.min.css">

</head>

<body>
    <div class="page-wrapper bg-custom p-t-70  font-robo">
        <div id="toast"><div id="img">Print</div><div id="desc"></div></div>
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"><button class="btn btn--radius btn--blue" type="submit" id="idGen" onclick="location.href='@Url.Action("Index", "Home")'">Use File BarCode</button></div>
                <div class="card-body">
                    <h3 class="title">Barcode Generator</h3>
                    @using (Html.BeginForm("SingleBarView", "SingleBar", FormMethod.Post))
                    {
                        <div class="input-group">
                            <input class="input--style-2" type="text" name="Product" id="idProd" placeholder="Enter the Product" required>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple">
                                @Html.DropDownList("barTypes", ((List<string>)ViewBag.barTypes).Select(m => new SelectListItem { Text = m, Value = m }), "Barcode Type", new { Name = "BarType", Class = "rs-select2 js-select-simple" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        if (ViewBag.ExceptionMsg != null)
                        {
                            <span class="lbl-error" id="lblException">@ViewBag.ExceptionMsg</span>
                        }

                        <div class="row row-space">
                            <div class="p-t-30">
                                <button class="btn btn--radius btn--green" id="btnGenerate" type="submit">Generate</button>
                            </div>
                        </div>
                        <br /><br />
                        <div class="row row-space">
                            <div class="input-group">
                                <input class="input--style-2" type="text" name="Copies" placeholder="No. of Product to Print" id="copiesId">
                            </div>
                            <div class="input-group">
                                <button class="btn btn--radius btn--green" type="button" id="printBar">Print</button>
                            </div>
                        </div>

                        <div class="row row-space" id="contBar">
                            @if (ViewBag.BarcodeImage != null)
                            {
                                <img src="@ViewBag.BarcodeImage" id="barCodeId" alt="" />
                            }

                            <div id="hiddenBars">
                                <table id="tbBar">
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/Resources/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Resources/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/Resources/js/global.js"></script>

    <script src="~/Resources/js/print.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#hiddenBars").css("display", "none");

           
            
            if ($("#contBar").find("img").length > 0)
            {
                launch_toast();              
            }


             $("#printBar").click(function () {
            var Copies = $("#copiesId").val();
            var img = '<img src="@ViewBag.BarcodeImage" alt="" />';

            for (var i = 0; i < Copies/2; i++)
            {
              addRowToTable($("#tbBar"), img,img);
            }
            printBarcode(Copies);
            $("#tbBar").empty();
             });
        });

        $("#barTypes").change(function () {
            $("#lblException").text("");
         });   

        function handleOddCopies(Copies) {
                var cMod = Copies % 2;
                 var countTD = $("#tbBar > tr > td").length;
            if (Copies == 1) {
                $('#tbBar tr').each(function(){
                    $(this).children('td').eq(1).remove();
                  });
            }
            else if (cMod != 0) {
                $('#tbBar tr td').slice(countTD - 1, countTD).empty();
            }
        }

        function addRowToTable(table, cell1, cell2) {
            var row;
              row = "<tr><td>" + cell1 + "</td><td>" + cell2 + "</td></tr>";
             table.append(row);
        }

        function printBarcode(Copies) {
            $("#hiddenBars").css("display", "block");
            handleOddCopies(Copies);
            printJS({
                printable: 'hiddenBars',
                copies:5,
                header:'',
                type: 'html'
            })
            $("#hiddenBars").css("display", "none");
        }

        function launch_toast() {
            var x = document.getElementById("toast")
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
        }

    </script>

</body>

</html>
<!-- end document-->